@charset "UTF-8";
/**
 * Vars
 */
/**
 * Mixin
 */
/**
 * Base
 */
html {
  line-height: 1.6;
  font-size: 16px;
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, sans-serif; }

body {
  color: #333;
  background-color: #fff; }

h1 {
  line-height: 1; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  a:hover {
    opacity: 0.7; }

b {
  font-weight: bold; }

p + p {
  margin-top: 1rem; }

/*!
 * ress.css • v2.0.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4; }

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit; }

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0; }

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */ }

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */ }

summary {
  display: list-item;
  /* Add the correct display in all browsers */ }

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */ }

[hidden] {
  display: none;
  /* Add the correct display in IE */ }

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */ }

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */ }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */ }

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */ }

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */ }

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0; }

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */ }

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */ }

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */ }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */ }

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */ }

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */ }

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */ }

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit; }

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */ }

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none; }

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */ }

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */ }

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */ }

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */ }

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */ }

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */ }

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline; }

svg:not([fill]) {
  fill: currentColor; }

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress; }

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer; }

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default; }

/**
 * Header
 */
.l-header {
  width: 100%;
  background-color: #00e826;
  padding: 4vw; }
  @media (min-width: 768px) {
    .l-header {
      padding: 30px; } }
  @media (min-width: 768px) {
    .l-header__inner {
      margin: 0 auto;
      width: 768px;
      display: block; } }

/**
 * Main
 */
.l-main {
  display: block;
  position: relative;
  padding: 4vw; }
  @media (min-width: 768px) {
    .l-main {
      width: 768px;
      margin: 0 auto;
      padding: 30px 0; } }

.c-btn--primary {
  font-weight: bold;
  color: #090;
  display: block;
  padding: 2vw;
  font-size: 1rem;
  text-align: center;
  color: #090;
  background-color: #fff; }
  @media (min-width: 768px) {
    .c-btn--primary {
      padding: 15px; } }

.c-btn--secondary {
  font-weight: bold;
  color: #090;
  display: block;
  padding: 2vw;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: #00e826; }
  @media (min-width: 768px) {
    .c-btn--secondary {
      padding: 15px; } }

/*
.btn {
  display: inline-block;
  padding: 0.6em 1em;
  border: 2px solid #333;
  border-radius: 2em;
  box-shadow: 3px 4px rgba(51, 51, 51, 0.15);
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  cursor: pointer;
}
.btn_highlighted {
  border: none;
  background-color: #55C299;
  box-shadow: none;
  color: white;
  font-weight: bold;
}
.btn_menuitem {
  padding: 0.3em 1em;
}
*/
/**
 * Title
 */
.c-title {
  font-weight: bold;
  color: #090;
  text-align: center;
  font-size: 1.4rem;
  margin: 4vw 0; }
  @media (min-width: 768px) {
    .c-title {
      margin: 30px 0; } }

/**
 * Navi
 */
.c-navi__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .c-navi__list {
      width: 768px;
      margin: 0 auto;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.c-navi__item {
  width: 44vw;
  margin-top: 4vw; }
  @media screen and (resolution: 1dppx) {
    .c-navi__item {
      width: calc(44vw - 10px); } }
  .c-navi__item:nth-of-type(1), .c-navi__item:nth-of-type(3) {
    margin-right: 4vw; }
    @media (min-width: 768px) {
      .c-navi__item:nth-of-type(1), .c-navi__item:nth-of-type(3) {
        margin-right: 0; } }
  @media (min-width: 768px) {
    .c-navi__item {
      width: 22%;
      margin-top: 30px; } }

/**
 * Tab
 */
.c-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center; }
  @media (min-width: 768px) {
    .c-tab {
      width: 60%;
      margin: 30px auto 0; } }
  .c-tab--on, .c-tab--off {
    width: 50%;
    padding: 2vw; }
    @media (min-width: 768px) {
      .c-tab--on, .c-tab--off {
        padding: 15px; } }
  .c-tab--off {
    color: #fff;
    background: #00e826 url(../img/left_shadow.png) no-repeat left top;
    font-size: 1rem; }
  .c-tab--off.c-tab--index-2 {
    background: #00e826 url(../img/left_shadow.png) no-repeat right top; }
  .c-tab--on {
    color: #090;
    font-size: 1.2rem; }

/**
 * List
 */
.c-list {
  margin-top: 4vw;
  overflow: hidden; }
  @media (min-width: 768px) {
    .c-list {
      margin-top: 30px; } }
  .c-list__article-img, .c-list__article-btn {
    display: block;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 2vw; }
    @media (min-width: 768px) {
      .c-list__article-img, .c-list__article-btn {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 15px; } }
  .c-list__work-img, .c-list__work-btn, .c-list__work-text {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 2vw; }
    @media (min-width: 768px) {
      .c-list__work-img, .c-list__work-btn, .c-list__work-text {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 15px; } }
  .c-list__detail-btn, .c-list__detail-img {
    display: block;
    width: 100%;
    margin-bottom: 4vw; }
    @media (min-width: 768px) {
      .c-list__detail-btn, .c-list__detail-img {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 15px; } }
  .c-list__article-btn, .c-list__work-btn {
    position: relative; }
    .c-list__article-btn::after, .c-list__work-btn::after {
      position: absolute;
      top: 2vw;
      right: 2vw;
      content: "";
      height: 1.6rem;
      width: 1rem;
      display: inline-block;
      background-image: url(../img/arrow-right.svg);
      background-repeat: no-repeat;
      background-position: right; }
      @media (min-width: 768px) {
        .c-list__article-btn::after, .c-list__work-btn::after {
          top: 15px;
          right: 15px; } }
  .c-list__detail-btn {
    position: relative; }
    .c-list__detail-btn::before {
      position: absolute;
      top: 2vw;
      left: 2vw;
      content: "";
      height: 1.6rem;
      width: 1rem;
      display: inline-block;
      background-image: url(../img/arrow-right.svg);
      background-repeat: no-repeat;
      background-position: right;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
      @media (min-width: 768px) {
        .c-list__detail-btn::before {
          top: 15px;
          left: 15px; } }
  .c-list__article-img, .c-list__work-img {
    margin-top: 4vw;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2); }
    @media (min-width: 768px) {
      .c-list__article-img, .c-list__work-img {
        margin-top: 30px; } }
  @media (min-width: 768px) {
    .c-list__detail-img {
      -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2); } }
  @media (min-width: 768px) {
    .c-list__article-text, .c-list__detail-text {
      width: 440px;
      margin: 0 auto 15px; } }
  .c-list__detail-down-btn {
    width: 60%;
    margin-left: 20%; }
    .c-list__detail-down-btn > img {
      width: 60%; }
    @media (min-width: 768px) {
      .c-list__detail-down-btn {
        width: 24%;
        margin-left: 38%; }
        .c-list__detail-down-btn > img {
          width: 24%; } }
  .c-list__page-top-btn {
    float: right; }
    .c-list__page-top-btn > img {
      width: 8vw; }
      @media (min-width: 768px) {
        .c-list__page-top-btn > img {
          display: none; } }
    .c-list__page-top-btn--pc {
      display: none; }
      @media (min-width: 768px) {
        .c-list__page-top-btn--pc {
          display: block;
          position: fixed;
          bottom: 30px;
          margin-left: 700px; }
          .c-list__page-top-btn--pc > img {
            width: 44px; } }

/**
 * Zoom
 */
.c-zoom {
  display: none;
  float: right;
  position: fixed;
  bottom: 70px;
  margin-left: 700px; }
  @media (min-width: 768px) {
    .c-zoom {
      display: block; } }
  .c-zoom > img {
    cursor: pointer;
    width: 44px; }

/**
 * Video
 */
/**
 * Top page
 */
.p-top-page {
  background-color: #00e826;
  color: #fff; }
  .p-top-page__main-img {
    width: 100%; }
  .p-top-page__text {
    padding: 4vw;
    font-weight: bold; }
    @media (min-width: 768px) {
      .p-top-page__text {
        padding: 0 120px; } }
  .p-top-page__new-work {
    width: 50%;
    margin-left: 25%;
    position: relative;
    display: block; }
    @media (min-width: 768px) {
      .p-top-page__new-work {
        width: 30%;
        margin-left: 35%; } }
  .p-top-page__new-work-icon {
    margin-top: 4vw;
    margin-left: 22%;
    position: relative;
    width: 14%;
    z-index: 200; }
    @media (min-width: 768px) {
      .p-top-page__new-work-icon {
        margin-top: 30px;
        width: 10%;
        margin-left: 32%; } }
  .p-top-page__new-work-img {
    width: 100%;
    margin-top: -20px; }
  @media (min-width: 768px) {
    .p-top-page {
      padding-top: 30px; }
      .p-top-page > .l-main {
        padding-bottom: 0; } }

.fb {
  font-weight: bold; }

.pc-only {
  display: none; }
  @media (min-width: 768px) {
    .pc-only {
      display: block; } }
