html {
	line-height: 1.6;
	font-size: 16px;
	font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, sans-serif;
}
body {
	color: #333;
	background-color: #fff;
}
h1 {
    line-height: 1;
}
figure {
    //line-height: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
    cursor: pointer;
    &:hover {
	   opacity: 0.7;
    }
}
b {
    font-weight: bold;
}
p + p {
    margin-top: 1rem;
}