//サイト全体で使うカラーコードの変数を指定する
$color-base: #00e826; //背景などベースに使う色
$color-key: #090; //テキストなどで使う濃いめの色

//サイトで使う共通のサイズ
$pc-width: 768px; //PC表示でのブレークポイントで使う
$sp-common-margin: 4vw; //スマホ表示での余白
$pc-common-margin: 30px; //PC表示での余白