.c-list {
    margin-top: $sp-common-margin;
    overflow: hidden;

    @include pc-media-queris {
        margin-top: $pc-common-margin;
    }

    ;

    &__article-img,
    &__article-btn {
        display: block;
        width: 60%;
        margin-left: 20%;
        margin-bottom: $sp-common-margin / 2;

        @include pc-media-queris {
            width: 300px;
            margin: 0 auto;
            margin-bottom: $pc-common-margin / 2;
        }

        ;
    }

    &__work-img,
    &__work-btn,
    &__work-text {
        display: block;
        width: 150px;
        margin: 0 auto;
        margin-bottom: $sp-common-margin / 2;

        @include pc-media-queris {
            width: 300px;
            margin: 0 auto;
            margin-bottom: $pc-common-margin / 2;
        }

        ;
    }

    &__detail-btn,
    &__detail-img {
        display: block;
        width: 100%;
        margin-bottom: $sp-common-margin;

        @include pc-media-queris {
            width: 300px;
            margin: 0 auto;
            margin-bottom: $pc-common-margin / 2;
        }
    }

    &__article-btn,
    &__work-btn {
        position: relative;

        &::after {
            position: absolute;
            top: $sp-common-margin / 2;
            right: $sp-common-margin / 2;
            content: '';
            height: 1.6rem;
            width: 1rem;
            display: inline-block;
            background-image: url(../img/arrow-right.svg);
            background-repeat: no-repeat;
            background-position: right;

            @include pc-media-queris {
                top: $pc-common-margin / 2;
                right: $pc-common-margin / 2;
            }
        }
    }

    &__detail-btn {
        position: relative;

        &::before {
            position: absolute;
            top: $sp-common-margin / 2;
            left: $sp-common-margin / 2;
            content: '';
            height: 1.6rem;
            width: 1rem;
            display: inline-block;
            background-image: url(../img/arrow-right.svg);
            background-repeat: no-repeat;
            background-position: right;
            transform: rotate(180deg);

            @include pc-media-queris {
                top: $pc-common-margin / 2;
                left: $pc-common-margin / 2;
            }
        }
    }

    &__article-img,
    &__work-img {
        margin-top: $sp-common-margin;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);

        @include pc-media-queris {
            margin-top: $pc-common-margin;
        }
    }

    &__detail-img {

        @include pc-media-queris {
            box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
        }
    }

    &__article-text,
    &__detail-text {
        @include pc-media-queris {
            width: 440px;
            margin: 0 auto $pc-common-margin / 2;
        }

        ;
    }

    &__detail-down-btn {
        width: 60%;
        margin-left: 20%;

        > img {
            width: 60%;
        }

        @include pc-media-queris {
            width: 24%;
            margin-left: 38%;

            > img {
                width: 24%;
            }
        }
    }

    &__page-top-btn {
        float: right;

        > img {
            width: 8vw;

            @include pc-media-queris {
                display: none;
            }

            ;
        }

        &--pc {
            display: none;

            @include pc-media-queris {
                display: block;
                position: fixed;
                bottom: $pc-common-margin;
                margin-left: 700px;
                > img {
                    width: 44px;
                }
            }

            ;
        }
    }
}
