.c-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    @include pc-media-queris {
        width: 60%;
        margin: $pc-common-margin auto 0;
    }

    ;

    &--on,
    &--off {
        width: 50%;
        padding: $sp-common-margin / 2;

        @include pc-media-queris {
            padding: $pc-common-margin / 2;
        }

        ;
    }

    &--off {
        color: #fff;
        background: #00e826 url(../img/left_shadow.png) no-repeat left top;
        font-size: 1rem;
    }

    &--off.c-tab--index-2 {
        background: #00e826 url(../img/left_shadow.png) no-repeat right top;
    }

    &--on {
        color: $color-key;
        font-size: 1.2rem;
    }
}
